<!DOCTYPE html>
{% extends "includes/base.html" %}
{% load static %}
{% block base_html_block %}




    <div class="main-wrapper">

	    <article class="about-section py-5">
		    <div class="container">
			    <h2 class="title mb-3">About Me</h2>

			    <p>I'm mohan  an experienced software engineer who constantly seeks out innovative solutions to everyday problems. In my three years in this industry, I've honed my analytical thinking and collaboration skills, and I love working with a team.</p>
          <p>Before my current position, I was a junior software engineer with ADF Data Science Pvt. Ltd. While working there, I committed to web development using django, which has been my specialty for three years.</p>

			    <h5 class="mt-5">Professional Summary:</h5>
          <ul>
         <li>Having 03+ years of experience on Python and Django.</li>
         <li>Good knowledge of development environments like Pycharm</li>
         <li>Experience in software development life cycle process in the areas of Analysis, Design and implementation of software applications</li>
         <li>Used MYSQL to store and retrieve the information from the Database needed for analysis, performance and resolving issues.</li>
         <li>Good knowledge of front-end technologies, such as HTML, CSS.</li>
         <li>Working with Atom IDE.</li>
         <li>Ability to learn and adapt quickly and to correctly apply new tools and technologies.</li>
         <li>Team work, cooperate and coordinate with team for updates and reports</li>

       </ul>
			    <h5 class="mt-5">Technical Skills </h5>

            <table cellspacing="100"  border="2" bgcolor="#000000">
            	<tr bgcolor="#ffffff">
            	</tr>
            	<tr cellspacing="100" bgcolor="#ffffff">
            		<td>Programming Languages </td>
            		<td>: Python</td>
            	</tr>
              <tr bgcolor="#ffffff">
            		<td>Frame Work</td>
            		<td>: Django and DjangoRestFrameWork </td>
            	</tr>
              <tr bgcolor="#ffffff">
                <td>Platforms</td>
                <td>: Windows</td>
              </tr>
              <tr bgcolor="#ffffff">
                <td>Front end technologies </td>
                <td>: HTML,CSS and Bootstrap </td>
              </tr>
              <tr bgcolor="#ffffff">
                <td>Version Control</td>
                <td>: Git</td>
              </tr>
              <tr bgcolor="#ffffff">
                <td>Database</td>
                <td>: MySql</td>
              </tr>
              <tr bgcolor="#ffffff">
                <td>Development methodology </td>
                <td>: MVT Architecture </td>
              </tr>
            </table>
            <h5 class="mt-5">Educational Summary</h5>
            <table cellspacing="100"  border="2" bgcolor="#000000">
              <tr bgcolor="#ffffff">
                <td>M.Tech(EPS) ,JNT University </td>
              </tr>
              <tr bgcolor="#ffffff">
                <td>B.Tech(EEE),JNT University </td>
              </tr>
            </table>
			    <h5 class="mt-5">Projects Summary:</h5>
          <h6 > <u> #Project 2 </u></h6>
          <ul>
   <table cellspacing="100"  border="2" bgcolor="#000000">
               <tr bgcolor="#ffffff">
                 <td>Title </td>
                 <td>: CITYDIA </td>
               </tr>
               <tr bgcolor="#ffffff">
                 <td>Designation</td>
                 <td>: Software Engineer</td>
               </tr>
 			  <tr bgcolor="#ffffff">
                 <td>Duration	</td>
                 <td>: March 2020 to Till Date.</td>
               </tr>
 			  <tr bgcolor="#ffffff">
                 <td>Environment	</td>
                 <td>: Python, Django, MySQL</td>
               </tr>
             </table>
 </ul>
  <h6 >  Roles and Responsibilities: </h6>
  <ul>
    <li>Writing well designed, testable, efficient code.</li>
    <li>Create website layout/user interface by using standard HTML/CSS practices.</li>
    <li>Working with CRUD operations.</li>
    <li>Integrate data from various back-end services and databases.</li>
    <li>Used reverse engineering is converting database schema into model, we need to understand how models work.</li>
    <li>Coordinate with various developers, project managers and analyst to prepare designs for new applications and documents all processes to ensure effective evaluation of all applications.</li>
    <li>Develop Back - end components using django framework to improve responsiveness and overall performance.</li>
    <li>Implementation of security and data protection.</li>
    <li>Knowledge of user authentication and authorization between multiple systems, servers, and environments</li>
    <li>Maintaining good coordination with team and testing team for fixing bugs.</li>
  </ul>
  <h6 > <u> #Project 1 </u></h6>
  <ul>
<table cellspacing="100"  border="2" bgcolor="#000000">
       <tr bgcolor="#ffffff">
         <td>Title </td>
         <td>: Supermart  </td>
       </tr>
       <tr bgcolor="#ffffff">
         <td>Designation</td>
         <td>: Software Engineer</td>
       </tr>
<tr bgcolor="#ffffff">
         <td>Duration	</td>
         <td>:December 2018 to February 2020.</td>
       </tr>
<tr bgcolor="#ffffff">
         <td>Environment	</td>
         <td>: Python, Django, MySQL</td>
       </tr>
     </table>
</ul>
<h6 >  Roles and Responsibilities: </h6>
<ul>
<li>Write well designed, testable, efficient code.</li>
<li>Create website layout/user interface by using standard HTML/CSS practices.</li>
<li>Working with CRUD operations.</li>
<li>Integrate data from various back-end services and databases..</li>
<li>Used reverse engineering is converting database schema into model, we need to understand how models work</li>
<li>Design and implementation of low-latency, and high-availability application.</li>
<li>Integration of user-facing elements developed by front-end developers with server side logic.</li>
<li>Implementation of security and data protection.</li>
<li>Implementation of security and data protection.</li>
<li>Able to create database schemas that represent and support business</li>
<li>Familiarity with ORM (Object Relational Mapper) libraries.</li>
<li>Understanding of accessibility and security compliance.</li>
<li>Knowledge of user authentication and authorization between multiple systems, servers, and environments.</li>
<li>Develop Back - end components to improve responsiveness and overall performance.</li>
<li>Creating Entities, forms, fields relations, Data model preparation and all design related stuff.</li>
<li>Coordinate with various developers, project managers and analyst to prepare designs for new applications and documents all processes to ensure effective evaluation of all applications.</li>
<li>Interaction with various members of the team to discuss and resolve defects.</li>
</ul>
		    </div>
	    </article><!--//about-section-->






      {% endblock %}


</body>
</html>
