<!DOCTYPE html>

{% load static %}


    <header class="header text-center">
	    <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="">Mohan's Profile</a></h1>

	    <nav class="navbar navbar-expand-lg navbar-dark" >

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'images/profile2.jpg' %}" alt="image" >
            <h1 class="list-inline-item">MOHAN</h1>
					<div class="bio mb-3">Hi, my name is Mohan, I'm a software engineer. <br></div><!--//bio-->

			        <hr>
				</div><!--//profile-section-->


        <ul class="navbar-nav flex-column text-start">
          <li class="nav-item">
           <u>Contact </u>
          </li>
        					<li class="nav-item">
        					 mohangavvala.dev@gmail.com
        					</li>

        				</ul>

			</div>
		</nav>
    </header>




</body>
</html>
